<section class="content bg-grey" id="how">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h4>How we work</h4>
          <h2>the approach</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 col-number">
        <p>We bring technologies in line to exploit the potential of blockchain.</p>
      </div>
      <div class="col-12 col-md-4 col-number">
        <p>We challenge the status quo so that new business areas can be identified and developed.</p>
      </div>
      <div class="col-12 col-md-4 col-number">
        <p>The expression of creativity is just as important to us as sensitively building frameworks to identify and solve problems.</p>
      </div>
    </div>
  </div>
</section>
