<section class="content bg-anthrazit bg-inverse" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h4>Work with us</h4>
          <h2>get in touch</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4">
        <p><b>blockops®</b></p>
        <p>Blockchain Development GmbH<br />
        Am Weichselgarten 7<br />
        91058 Erlangen / Germany<br />
        HRB 16563 / Fürth</p>
      </div>
      <div class="col-12 col-md-8">
        <form action="https://formspree.io/xyyoroyd" method="post" id="contactForm" name="contactForm">
          <div class="row">
            <div class="col-12 col-md-6 has-validation">
              <input type="text" class="form-control" placeholder="your name" name="name" id="name" required="" data-validation-required-message="Please enter your name." />
            </div>
            <div class="col-12 col-md-6">
              <input type="email" class="form-control" placeholder="your email" name="replyto" id="email" required="" data-validation-required-message="Please enter your email address." />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" placeholder="your subject" name="subject" id="subject" required="" data-validation-required-message="Please enter a subject." />
            </div>
          </div>
          <div class="row">
            <div class="col">
              <textarea rows="4" class="form-control" placeholder="your message" name="message" id="message" required="" data-validation-required-message="Please enter a message."></textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12 col-md-6">
              <div class="form-check">
                <input type="checkbox" class="form-check-input" name="privacy" id="privacy" required="" data-validation-required-message="Please agree to the privacy policy." /><label class="form-check-label" for="contactform">I have read the <a href="imprint.html#privacy">privacy policy</a> and agree</label>
              </div>
            </div>
            <div class="col-12 col-md-6 d-flex justify-content-end">
              <button type="submit" class="btn btn-outline"><span>send message</span></button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

