<div id="menu" class="text-center">
  <nav>
    <ul>
      <li>
       <a href="/#about" class="menu-item">about</a>
      </li>
      <li>
       <a href="/#services" class="menu-item">services</a>
      </li>
      <!---
        <li>
        <a href="/#clients" class="menu-item">clients</a>
      </li>
      //-->
      <li>
       <a href="/#contact" class="menu-item">contact</a>
      </li>
    </ul>
  </nav>
</div>
<header id="navigation">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a href="/"><picture><source srcset="assets/img/blockops-logo-inverse.svg" media="(prefers-color-scheme: dark)" /> <img src="assets/img/blockops-logo.svg" width="315" height="77" class="logo" alt="blockops logo" title="blockops" /></picture></a>
      </div>
      <div class="col-6 d-flex justify-content-end">
        <input type="checkbox" id="menutrigger" /> <label for="menutrigger" class="menutrigger"><span class="line">&nbsp;</span> <span class="line">&nbsp;</span> <span class="line">&nbsp;</span></label>
      </div>
    </div>
  </div>
</header>

