<section class="content bg-grey" id="best">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h4>Vast experience across markets</h4>
          <h2>What we do best</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-4 list-number">
       <p><strong>Asset factory</strong> with integrated <strong>decentralized exchange</strong> and responsive user interface.</p>
      </div>
      <div class="col-12 col-md-4 list-number">
       <p>Financial <strong>blogging platform</strong> with participation rewards and incentivizing tokenomics.</p>
      </div>
      <div class="col-12 col-md-4 list-number">
       <p>Provably fair <strong>betting exchange</strong> and integration with data feed providers (oracles).</p>
      </div>
      <div class="col-12 col-md-4 list-number">
       <p><strong>Social rewards</strong> and <strong>crowd fundraising</strong> platforms.</p>
      </div>
      <div class="col-12 col-md-4 list-number">
       <p><strong>Tokenization</strong> market places.</p>
      </div>
      <div class="col-12 col-md-4 list-number">
       <p>Distributed and <strong>transparent accounting</strong> system for on-chain funding.</p>
      </div>
    </div>
  </div>
</section>
