<section class="content bg-orange bg-inverse" id="services">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6">
        <div class="section-header">
          <h4>What we do</h4>
          <h2>our services</h2>
        </div>
        <p>Blockops provides the entire stack for blockchain projects, starting at consultation, via development cycles, deployments and the entire project management.</p>
      </div>
      <div class="col-12 col-md-6">
        <div class="accordion accordion-flush" id="accordionServices">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">Consulting &amp; Education</button></h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <ul>
                  <li>Workshop and Seminars</li>
                  <li>Blockchain technologies and cryptographic primitives</li>
                  <li>From consensus schemes to token economics</li>
                  <li>Comparison and evaluation of various tech stacks</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">Specification &amp; Development</button></h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <ul>
                  <li>Evaluation and analysis of client requirements</li>
                  <li>Development of specifications and scientific publications</li>
                  <li>Implementation of front/backend apps and middleware</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">Deployment &amp; Operations</button></h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <ul>
                  <li>Provisioning of cloud and/or dedicated resources</li>
                  <li>Redundant deployment of services through orchestration</li>
                  <li>Constant monitoring and alerting of services</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingFour"><button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">Project Lead &amp; Management</button></h2>
            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionServices">
              <div class="accordion-body">
                <ul>
                  <li>Project development and resource acquisition</li>
                  <li>Support of agile development teams</li>
                  <li>Coordination with other company divisions</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
