<section class="content bg-grey" id="about">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-header">
          <h4>Who we are</h4>
          <h2>blockchain development</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-md-6">
        <p>Blockops is a specialized brand of the Blockchain Development GmbH. We are a team of experts that has been building applications on Blockchains since 2014.</p>
        <p>Blockchain as a technology sector dates back to 2009. We dived in, first as fans, then professionally. We established our company with a strong international focus. To date, our team involves Blockchain as well as Business and Marketing experts with extensive international experience, network and academic background.</p><a href="#contact" class="btn btn-outline"><span>get in touch</span></a> <a href="#services" class="btn btn-full"><span>learn more</span></a>
      </div>
      <div class="col-12 col-md-6"><img src="assets/img/blockops-at-work.jpg" class="content-img" width="900" height="600" title="BlockOps at work" alt="Dummy" /></div>
    </div>
  </div>
</section>
