<!DOCTYPE html>
<html class="no-touch" lang="de-DE" xmlns="http://www.w3.org/1999/xhtml" xml:lang="de-DE">
{% include header.html %}
<body class="agb">
{% include menu.html %}

<section class="content bg-grey header-section text-justify">
  <div class="container">
    <div class="row">
      <div class="col-12">
        {{ content }}
      </div>
    </div>
  </div>
 </section>

{% include footer.html %}
<!--
<div class="col-3">
  <label for="theme_toggle">
<input type="checkbox" id="theme_toggle">
dark mode
</label>
</div>
-->
</body>
</html>
